body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #575757;
	font-size: 14px;
}
header {
	position: relative;
	overflow: hidden;
}

.header-top {
	width: 1022px;
	padding: 20px 0 30px 0;
	position: absolute;
	margin: auto;
	margin-top: 10px;
	top: 0;
	left: 50%;
	margin-left: -511px;
	border-bottom: 1px solid grey;
	font-size: 14px;
	z-index:200;
}
.logo {
	float: left;
}
nav {
	float: right;
}

nav ul li {
	display: inline-block;
	margin: 10px 0 0 25px;
}

nav a {
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	color: #fff;
	text-decoration: none;
	text-decoration: underline;
}
.slider-img {
	position: relative;
}
.slider-item-text {
	position: absolute;
	width: 1022px;
	margin: auto;
	top: 230px;
	left: 50%;
	z-index:100;
	margin-left: -511px;
	text-align: center;
}
.slider-title {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
}
.slider-description {
	color: #fff;
	font-size: 27px;
	margin-top: 4px;
}
.slider-button {
	margin-top: 80px;
	padding: 15px 20px;
	color: #fff;
	text-transform: uppercase;
	background: #71B6D5;
	border: 0;
	border-radius: 4px;
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
}
.slider-indicators {
	position: absolute;
	width: 1022px;
	margin: auto;
	bottom: 50px;
	left: 50%;
	z-index:100;
	margin-left: -511px;
	text-align: center;
	vertical-align: middle;
}
.slider-indicators li {
	width: 7px;
	height: 7px;
	display:inline-block;
	margin: 0 14px 0 14px;
	background: url('../img/Ellipse2copy.png') no-repeat top center;
	cursor: pointer;
}
.slider-indicators li.active {
	width: 25px;
	height: 25px;
	display:inline-block;
	margin: 0px 2px -9px 2px;
	background: url('../img/pointer_act.png') no-repeat top center;
	cursor: default;
}

.slider-control {
	position: absolute;
	z-index: 200;
	top: 45%;
	width: 43px;
	height: 43px;
	display: block;
}

.left.slider-control {
	left: 100px;
	background: url('../img/Ellipse_4_left.png') no-repeat top center;
}
.right.slider-control {
	right: 100px;
	background: url('../img/Ellipse_4.png') no-repeat top center;
}
article {
	width: 1022px;
	margin: 0 auto;
}
.details {
	text-align: center;
	font-size: 21px;
	margin: 50px 0 95px 0;
	color: #575757;
	line-height: 1.2;
}
.inline-blocks {
	text-align: center;
}
.inline-item {
	float: left;
	width: 306px;
	height: 250px;
	position: relative;
	text-decoration: none;
	border: 1px solid #E1E1E1;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.img-holder {
	width: 306px;
	height: 125px;
	overflow: hidden;
}
.layer1 {
	background: url('../img/Layer3.png') no-repeat top center;
}
.layer2 {
	background: url('../img/Layer4.png') no-repeat top center;
}
.layer3 {
	background: url('../img/Layer5.png') no-repeat top center;
}
.center-item {
	margin: 0 45px;
}
.clearfix {
	clear: both;
}
.photo-icon-holder {
	position: absolute;
	top: -48px;
	width: 96px;
	height: 96px;
	left: 110px;
	background: url('../img/Ellipse3copy2.png') no-repeat top center;
}
.photo-icon {
	text-align: center;
	vertical-align: middle;
	display: block;
	width: 100%;
	height: 100%;
}
.photoap {
	background: url('../img/photo.png') no-repeat center center;
}
.cart {
	background: url('../img/cart.png') no-repeat center center;
}
.pen {
	background: url('../img/pen.png') no-repeat center center;
}
.inline-item-description {
	
}
.inline-item-description h2 {
	font-size: 21px;
	color: #484848;
	margin: 20px 0 0 0;
}
.inline-item-description p {
	font-size: 15px;
	color: #575757;
	margin: 12px 0 0 0;
	line-height: 1.3;
}
.devider {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	border-top: 1px solid #E1E1E1;
	margin-top: 100px;
}
.devider img {
	position: relative;
	top: -16px;
	padding: 0 25px;
	background: #fff;
}
.article-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
}
.article-title b {
	font-weight: 700;
}
.full-string-item {
	width: 100%;
	margin: 50px 0 50px 0;
}
.img-left {
	float: left;
	margin: 0 60px 6px 0;
}
.img-right {
	float: right;
	margin: 0 0 6px 60px;
}
.full-string-item h3 {
	font-size: 22px;
	padding: 20px 0 0 0;
	margin: 0px 0 24px 0;
	color: #484848;
}
.full-string-item p {
	line-height: 1.4;
	font-size: 15px;
}
.full-string-item button {
	background: transparent;
	border: 2px solid #71B6D5;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 14px;
	color: #71B6D5;
	padding: 8px 20px;
	font-weight: 600;
	cursor: pointer;
	margin: 20px 0 0 0;
}
.border {
	color: #E1E1E1;
	border-top: 1px solid #E1E1E1;
}
.article-description {
	text-align: center;
	margin: 12px 0 50px 0;
}
.photo-list-wrapper {
	text-align: left;
}
.photo-item {
	display: inline-block;
	margin: 0 0 0 15px;
}
.photo-item-first {
	display: inline-block;
	margin-right: 0;
}
.photo-title {
	text-align: center;
	font-size: 21px;
	margin: 16px 0 2px 0;
}
.photo-category {
	text-align: center;
}
.photo-list-wrapper a {
	position: relative;
}

.photo-list-wrapper a .hover {
	display: none;
}
.photo-list-wrapper a:hover .hover {
	display: block;
	position: absolute;
	width: 32px;
	height:32px;
	top: -109px;
	left: 45%;
	background: url('../img/search.png') no-repeat center center;
}
.rewiews-list-wrapper {
	margin: 50px 0 0 0;
	text-align: center;
}
.review-text {
	font-size: 21px;
}
.author {
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
	padding: 35px 0 0 0;
	width: 368px;
	background: url('../img/Shape7.png') no-repeat top left;
}
.author b {
	font-weight: 700;
}