.photo-list_item {
	display: inline-block;
	margin: 0 0 0 15px;
}
.photo-list_item:first-child {
	margin-left: 0;
}
	.photo-title {
		margin: 16px 0 2px 0;
		
		text-align: center;
		font-size: 21px;
	}
	.photo-category {
		text-align: center;
	}
	.photo-list_item_link {
		position: relative;
	}
		.photo-list_item_link .hover {
			display: none;
		}
		.photo-list_item_link:hover .hover {
			position: absolute;
			top: -109px;
			left: 45%;
			
			display: block;
			width: 32px;
			height: 32px;
			
			background: url('../../img/search.png') no-repeat center center;
		}
		