.rewiews-list-wrapper {
	margin: 50px 0 0 0;
	text-align: center;
}
	.review_text {
		font-size: 21px;
	}
	.review_author {
		width: 368px;
		margin: 0 auto;
		margin-top: 35px;
		padding: 35px 0 0 0;
		
		background: url('../../img/review_border.png') no-repeat top left;
		
		text-align: center;
	}
.review-indicators {
	margin: 25px 0 0 0;
}
.review-indicators_item {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	
	background: url('../../img/indicator.png') no-repeat top center;
	
	cursor: pointer;
}
.review-indicators_item.active {
	background: url('../../img/indicator_active.png') no-repeat top center;
	cursor: default; 
}