.tweet-item {
	padding: 0 0 0 30px;
	margin: 0 0 12px 0;
	background: url('../../img/tweet.png') no-repeat top left;
	line-height: 1.4;
}
	.tweet-time {
		color: #71B6D5;
		padding-top: 4px;
		display: block;
		text-decoration: none;
	}